/* CadastroPacientes.css */

.cadastro-pacientes {
  margin-top: 0px;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cadastro-pacientes h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-pacientes label {
  font-weight: bold;
}

.toggle-doc-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-doc-btn:hover {
  background-color: #0056b3;
}

.toggle-doc-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
