/* ConfigADM.css */

/* Container principal da página */
.config-adm-container {
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilização da lista de tipos de consulta */
  .list-group-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .list-group-item:hover {
    background-color: #ececec;
  }
  
  /* Botão de remover tipo */
  .btn-danger {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .btn-success {
    padding: 10px 20px;
    font-size: 16px;
    height: 45.8px;
  }
  /* Ajustes de botão dentro do input-group */
.input-group .btn {
    margin-left: 0; /* Garante que o botão esteja alinhado ao input */
    padding: 10px 20px; /* Ajuste de tamanho para o botão */
  }
  
  .input-group .form-control {
    flex: 1; /* Garante que o input ocupe o espaço adequado */
  }