

/* Container do login */
.login-container {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  margin-right: 250px;
}

/* Estilo do título */
h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

/* Estilo para os ícones de visibilidade de senha */
.password-toggle {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #6c757d;
}

.password-toggle:hover {
  color: #000;
}

/* Botão de login */
.btn-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn-success:hover {
  background-color: #45a049;
  border-color: #45a049;
}

/* Botão de registro */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
