.sidebar {
  width: 220px;
  background-color: #BEDCFE;
  color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-top: 0;
  text-align: center; 
  font-size: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .nested-list a {
  font-size: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #3e3636;
  text-decoration: none;
  display: block;
  font-size: 25px;
}

.sidebar ul li a:hover {
  background-color: #1d20236e; /* Cor de fundo ao passar o mouse */
  border-radius: 5px; /* Bordas arredondadas */
  width: 100%; /* Largura completa */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Efeito de clareamento do texto */
}

.nested-list {
  padding-left: 20px;
}

.nested-list li {
  margin: 5px 0;
}

.nested-list li a {
  color: #ddd;
}

.logout-button {
  background-color: red; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branca */
  border: none; /* Remove a borda padrão */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro */
  transition: background-color 0.3s ease; /* Animação para o hover */
}

.logout-button:hover {
  background-color: darkred; /* Altera a cor no hover */
}
.sidebar-footer{
  margin-top: auto;
  margin-bottom: 50px;
}